body{
    background-image: url("Background1.jpg");
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: top right;
    background-attachment: fixed;
    background-color: darkkhaki;
}